.container {
	background: linear-gradient(90deg, #1f1d1d 0%, #423e3f 55.73%, #423e3f 100%);
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.containerCardAndBtns {
	display: flex;
	align-items: center;
}

.btnDelete {
	color: #d9d9d9;
	height: 37px;
	background-color: #671a1d;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	border-width: 0px;

	font-family: "Fredoka";
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
}

.btnDelete:hover {
	background-color: #d9d9d9;
	color: #671a1d;
	transition-duration: 0.75s;
}

.btnUpdate {
	color: #d9d9d9;
	height: 37px;
	background-color: #003566;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	border-width: 0px;

	font-family: "Fredoka";
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
}

.btnUpdate:hover {
	background-color: #d9d9d9;
	color: #003566;
	transition-duration: 0.75s;
}

.cardDetail {
	background: linear-gradient(90deg, #8b9096 0%, #d9d9d9 100%);
	box-shadow: 0.75px 0.75px 5px 0px rgb(185, 183, 183);
	border-radius: 30px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	width: 700px;
	height: 770px;
	margin: 6% 5% 0% 5%;
}

.name {
	font-family: "Fredoka";
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	line-height: 58px;
	text-align: center;
	color: #423e3f;
}

.img {
	width: 500px;
	height: 350px;
	border-radius: 20px;
	margin: -15px 0px -10px 0px;
}

.statsContainer {
	width: 690px;
	display: flex;
	justify-content: space-around;
}

.stat {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	height: 80px;
}

.statName {
	font-family: "Fredoka";
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	color: #423e3f;
}

.statValue {
	font-family: "Fredoka";
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	text-align: center;
	color: #000000;
}

.tempsContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	width: 690px;
}
