.container {
	display: flex;
	align-items: center;
}

.input {
	width: 300px;
	height: 35px;

	background: #423e3f;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	border-width: 0px;
	outline: none;

	color: #d9d9d9;
	font-family: "Fredoka";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
}

.btn {
	width: 112px;
	height: 37px;
	background-color: #423e3f;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	border-width: 0px;
	margin-left: 2%;
	font-family: "Fredoka";
	font-style: normal;
	font-weight: 400;
	font-size: 25px;

	color: #d9d9d9;
}

.btn:hover {
	background-color: #d9d9d9;
	color: #423e3f;
	transition-duration: 0.75s;
}

@media (max-width: 743px) {
	.input {
		width: 115px;
		height: 28px;
		font-size: 13px;
	}

	.btn {
		width: 55px;
		height: 30px;
		font-size: 14px;
	}
}
